<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="stlk" translate="label" sortOrder="10">
            <label>Solid Tech</label>
        </tab>
        <section id="stlk_freeShipping" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>FreeShipping</label>
            <tab>stlk</tab>
            <resource>STLK_FreeShipping::config</resource>
            <group id="general"
                   translate="label"
                   type="text"
                   sortOrder="10"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <label>General Configuration</label>
                <field id="enable"
                       translate="label"
                       type="select"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="free_shipping_message"
                       translate="label"
                       type="text"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Free shipping message</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <validate>required-entry</validate>
                </field>
                <field id="free_shipping_reached_message"
                       translate="label"
                       type="text"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Free shipping reached message</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <validate>required-entry</validate>
                </field>
                <field id="free_shipping_amount"
                       translate="label"
                       type="text"
                       sortOrder="1"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0">
                    <label>Free shipping amount</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <validate>required-entry validate-number validate-greater-than-zero</validate>
                </field>
            </group>
        </section>
    </system>
</config>
